Jinja2~=3.0.0
sphinx~=3.2.0
sphinx_rtd_theme~=0.4.3
enum_tools~=0.9.0
sphinx-toolbox
plantumlcli>=0.0.2
packaging
sphinx-multiversion~=0.2.4
where~=1.0.2
easydict>=1.7,<2
potc-torch>=0.0.1
potc-treevalue>=0.0.1